      <table class="table">
        <tbody>
          <tr>
            <td width='200px'>
              <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipNwAQ76Rv5DuhUDVVvhdqqLiRw23niyR3J-vXkR=w426-h240-k-no" />
            </td>
            <td>
              <h3>八戸市博物館</h3>
              <p>休館日：月曜日</p>
              <p>開館時間：9:00</p>
          </td>
        </tr>
      <tr>
        <td width='200px'>
          <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipOFMjz5FB4B7seQTZggvSuzzX0J6zqyqLqBWRsp=w408-h306-k-no" />
        </td>
        <td>
          <h3>八甲田山雪中行軍遭難資料館</h3>
          <p>休館日：なし</p>
          <p>開館時間：9:00</p>
        </td>
      </tr>
    <tr>
      <td width='200px'>
        <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipOV8JC4bDbTLhsjJ9Q3BZisLwN7xCE5ARJn-SfQ=w408-h306-k-no" />
      </td>
      <td>
        <h3>青森近代文学館</h3>
        <p>休館日：なし</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
      <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipMSJmlxVfBvcyrhk1C_cGsfeGd61sUQCRxzyhAB=w408-h306-k-no" />  
      </td>
      <td>
        <h3>青森市森林博物館</h3>
        <p>休館日：月曜日</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
        <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipPrK92V7ej12hgM5iSlsImO0OS34ljF5kBGOEYO=w408-h272-k-no" />
      </td>
      <td>
        <h3>あおもり北のまほろば歴史館</h3>
        <p>休館日：なし</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
        <img width="150px" height="120px"src="https://lh5.googleusercontent.com/p/AF1QipNuutMpy3IGohvJkXFr-DYq0Ner__qrBlMHVxSK=w408-h306-k-no" />
      </td>
      <td>
        <h3>青森県立郷土館</h3>
        <p>休館日：現在臨時休館中</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
        <img width="150px" height="120px"src="https://lh5.googleusercontent.com/p/AF1QipOTBCH57Uoim1EqUg9UmL1j3tcLeBfSr8LgJYGj=w408-h272-k-no" />
      </td>
      <td>
        <h3>青森市中世の館</h3>
        <p>休館日：月曜日</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
        <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipMgAfIez4vk6Y6BVzjRjDFZsvFovyffUqaeN9p3=w426-h240-k-no" />
      </td>
      <td>
        <h3>板柳町立郷土資料館</h3>
        <p>休館日：日曜日・月曜日・水曜日・金曜日</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
     <tr>
      <td width ='200px'>
        <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipMtVNQrS1AJjABn3sHiU2ZEDhNDB4e4_B6pXEQ0=w408-h306-k-no" />
      </td>
      <td>
        <h3>中泊町博物館</h3>
        <p>休館日：月曜日</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
        <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipPiybjBPPzbNKrZP3VamQ_DVOnSEBfMnwN_0lRR=w408-h306-k-no" />
      </td>
      <td>
        <h3>つがる市縄文住居展示資料館 カルコ</h3>
        <p>休館日：月曜日</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
        <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipOo4w3dh_vZ9SJ9bR7rT0hnNqo4fQbFf37e7fFx=w426-h240-k-no" />
      </td>
      <td>
        <h3>高岡の森 弘前藩歴史館</h3>
        <p>休館日：なし</p>
        <p>開館時間：9:30</p>
      </td>
    </tr>
     <tr>
      <td width ='200px'>
        <img width="150px" height="120px" src="https://lh5.googleusercontent.com/p/AF1QipNlxNtxHqcrwkLtkOAMMm0_BBmrEQNGTtmGAVzD=w426-h240-k-no" />
      </td>
      <td>
        <h3>弘前市立博物館</h3>
        <p>休館日：</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <td width ='200px'>
        <img width="180px" height="160px" src="https://lh5.googleusercontent.com/p/AF1QipPjd2WjW5ZiFAKMguWBItOExeJcWD3f397aqGFq=w408-h306-k-no" />
      </td>
      <td>
        <h3>弘前城史料館</h3>
        <p>休館日：なし</p>
        <p>開館時間：9:00</p>
      </td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td class="text-left"><img width="180px" height="160px" src="https://lh5.googleusercontent.com/p/AF1QipOb88sSwkR-nkwvxZO7gMIaO_yzZAzUmjzJ2S2Q=w408-h270-k-no" /></td>
    </tr>
     <tr>
      <th scope="row">15</th>
      <td class="text-left"><img width="180px" height="160px" src="https://imgcache.its-mo.com/contents/KNK_ZPOI/00000000000000043719/000043719-1/000043719-1_m.jpg" /></td>
    </tr>
     <tr>
      <th scope="row">16</th>
      <td class="text-left"><img width="180px" height="160px" src="https://lh5.googleusercontent.com/p/AF1QipPhh2Si_kd4u6rC4Rhn1zVcvRFdqtMhPTz1lliT=w408-h248-k-no" /></td>
    </tr>
  </tbody>
</table>
